h6(class="mt-4 font-weight-bold") Closerscopy params
hr(class="mt-0 mb-2")
div(class="row mb")
    div(class="col-sm")
        label Domain
        input(type="text" class="form-control" id="closerscopy-domain" name="closerscopy-domain"
            placeholder="Domain used to connect to the Closerscopy service"
            value=closerscopyDomain)
        if errors && errors['closerscopy-domain']
            span(class="text-danger") #{errors['closerscopy-domain']}
div(class="row mt-2")
    div(class="col-sm")
        label Username:
        input(type="text" class="form-control" id="closerscopy-username" name="closerscopy-username"
            value=closerscopyUsername)
        if errors && errors['closerscopy-username']
            span(class="text-danger") #{errors['closerscopy-username']}
    div(class="col-sm")
        label Password:
        input(type="text" class="form-control" id="closerscopy-pwrd" name="closerscopy-pwrd"
            value=closerscopyPassword)
        if errors && errors['closerscopy-pwrd']
            span(class="text-danger") #{errors['closerscopy-pwrd']}