h6(class="mt-4 font-weight-bold") Domcop params
hr(class="mt-0 mb-2")
div(class="row mb")
    div(class="col-sm")
        label Domain
        input(type="text" class="form-control" id="domcop-domain" name="domcop-domain"
            placeholder="Domain used to connect to the Domcop service"
            value=domcopDomain)
        if errors && errors['domcop-domain']
            span(class="text-danger") #{errors['domcop-domain']}
div(class="row mt-2")
    div(class="col-sm")
        label Username:
        input(type="text" class="form-control" id="domcop-username" name="domcop-username"
            value=domcopUsername)
        if errors && errors['domcop-username']
            span(class="text-danger") #{errors['domcop-username']}
    div(class="col-sm")
        label Password:
        input(type="text" class="form-control" id="domcop-pwrd" name="domcop-pwrd"
            value=domcopPassword)
        if errors && errors['domcop-pwrd']
            span(class="text-danger") #{errors['domcop-pwrd']}