h6(class="mt-4 font-weight-bold") haloscan params
    
hr(class="mt-0 mb-2")
div(class="row mb")
    div(class="col-sm")
        label Domain:
        input(type="text" class="form-control" id="haloscan-domain" name="haloscan-domain"
            placeholder="Domain used to connect to the haloscan service" value=haloscanDomain)
        if errors && errors['haloscan-domain']
            span(class="text-danger") #{errors['haloscan-domain']}
div(class="row mt-2")
    div(class="col-sm")
        label Username:
        input(type="text" class="form-control" id="haloscan-username" name="haloscan-username"
            value=haloscanUsername)
        if errors && errors['haloscan-username']
            span(class="text-danger") #{errors['haloscan-username']}
    div(class="col-sm")
        label Password:
        input(type="text" class="form-control" id="haloscan-pwrd" name="haloscan-pwrd"
            value=haloscanPassword)
        if errors && errors['haloscan-pwrd']
            span(class="text-danger") #{errors['haloscan-pwrd']}