h6(class="mt-4 font-weight-bold") Iconscout params
hr(class="mt-0 mb-2")
div(class="row mb")
    div(class="col-sm")
        label Domain
        input(type="text" class="form-control" id="iconscout-domain" name="iconscout-domain"
            placeholder="Domain used to connect to the Iconscout service"
            value=iconscoutDomain)
        if errors && errors['iconscout-domain']
            span(class="text-danger") #{errors['iconscout-domain']}
div(class="row mt-2")
    div(class="col-sm")
        label Username:
        input(type="text" class="form-control" id="iconscout-username" name="iconscout-username"
            value=iconscoutUsername)
        if errors && errors['iconscout-username']
            span(class="text-danger") #{errors['iconscout-username']}
    div(class="col-sm")
        label Password:
        input(type="text" class="form-control" id="iconscout-pwrd" name="iconscout-pwrd"
            value=iconscoutPassword)
        if errors && errors['iconscout-pwrd']
            span(class="text-danger") #{errors['iconscout-pwrd']}